body {
  margin: 0;
  padding: 0;
}
.dialog-mask{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}
.dialog-wrap{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 101;
}
.dialog-container{
  min-width: 260px;
  max-width: 78%;
  border-radius: 8px;
  background: #fff;
}
.dialog-title{
  color: rgba(0, 0, 0, 0.8);
  font-size: 17px;
  font-weight: 600;
  padding: 18px 24px 13px;
  text-align: center;
}
.dialog-content{
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  padding: 18px 24px 13px;
}
.dialog-title + .dialog-content{
  padding: 0 24px 13px;
}
.dialog-buttons{
  border-top: 1px solid rgba(31, 56, 88, 0.1);
  font-size: 16px;
  line-height: 47.5px;
  text-align: center;
}
.dialog-secondary {
  color: rgba(31,56,88,.6);
}
.dialog-primary {
  color: #38adff;
}
.dialog-buttons .dialog-button{
  border-left: 1px solid rgba(31,56,88,.1);
}
.dialog-buttons .dialog-button:nth-child(1){
  border-left: none;
}
.t-FBH{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.t-FB1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.t-FAC{
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
