body {
  margin: 0;
  padding: 0;
  line-height: 1;
}
.dialog-mask{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}
.dialog-mask-hidden{
  display: none;
}
.dialog-wrap{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 101;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.dialog-container{
  position: relative;
  min-width: 260px;
  max-width: 78%;
  border-radius: 8px;
  background: #fff;
}
.dialog-title{
  color: rgba(0, 0, 0, 0.8);
  font-size: 17px;
  font-weight: 600;
  padding: 18px 24px 13px;
  text-align: center;
}
.dialog-content{
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  padding: 18px 24px 13px;
  line-height: 22px;
}
.dialog-title + .dialog-content{
  padding: 0 24px 13px;
}
.dialog-buttons{
  border-top: 1px solid rgba(31, 56, 88, 0.1);
  font-size: 16px;
  line-height: 47px;
  text-align: center;
}
.dialog-secondary {
  color: rgba(31,56,88,.6);
}
.dialog-primary {
  color: #38adff;
}
.dialog-buttons .dialog-button{
  border-left: 1px solid rgba(31,56,88,.1);
}
.dialog-buttons .dialog-button:nth-child(1){
  border-left: none;
}
.dialog-body{
  padding: 0;
}
.t-FBH{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.t-FB1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.t-FAC{
  text-align: center;
}

@keyframes dialogSlideDown {
  0% {
    opacity: 0;
    top: -150px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.dialog-slideDown-appear,
.dialog-slideDown-enter {
  animation-duration: 0.3s;
  animation-timing-function: ease;
  opacity: 0;
}
.dialog-slideDown-appear-active,
.dialog-slideDown-enter-active {
  /*visibility: visible;*/
  animation-name: dialogSlideDown;
}
@keyframes dialogSlideDownLeave {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -150px;
  }
}
.dialog-slideDown-leave {
  animation-duration: 0.3s;
  animation-timing-function: ease;
}
.dialog-slideDown-leave-active {
  animation-name: dialogSlideDownLeave;
}




@keyframes maskFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.mask-fade-appear,
.mask-fade-enter {
  animation-duration: 0.3s;
  animation-timing-function: ease;
  opacity: 0;
}
.mask-fade-appear-active,
.mask-fade-enter-active {
  animation-name: maskFade;
}
@keyframes maskFadeLeave {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.mask-fade-leave {
  animation-duration: 0.3s;
  animation-timing-function: ease;
}
.mask-fade-leave-active {
  animation-name: maskFadeLeave;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
